/**
* Main Body
*/
.main .caption {

    margin-top: 2em;
}

.row.row-1 {
    min-height: 24em;
}

.timeseries_text_container {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: row;
    margin-bottom:1em;
}
.prediction_text {
    flex: 1 2 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
}

.prediction_text div {
    min-width: 12em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeseries_text {
    flex: 1 1 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.timeseries_text h2, .timeseries_text p {
    flex: 1 0 auto;
    margin-bottom: 0;
}

.timeseries_container p {
    flex: 3 0 auto;
    text-align: right;
    font-family: var(--font-bold);
}

#prediction_value,
#lastclose_value {

}

#prediction_value .pred:before {
    content: "  ";
    min-width: 3em;
    padding-right: .5em;
}
#prediction_value .pred.increase:before{
    content: '\25B2';
    color: var(--color-success);
}

#prediction_value .pred.decrease:before{
    color: var(--color-error);
    content: '\25BC';
}

#prediction_label,
#lastclose_label {

}
.timeseries_plot {
    flex: 1 0 auto
}

.tab-container {
    border: 0px;
    border-bottom: 0px ; /*2px solid var(--color-primary);*/
    background-color: var(--bg-color);;
    margin-bottom: 2em;
}
.tab:last-of-type, 
.tab.ta-tab:last-of-type {
    border-color: var(--color-darkGrey);
    border: 0px;
    border-top: 0px;
}
.tab, 
.tab.ta-tab {
    background-color: var(--bg-color) !important;
    border: 0px!important;
    border-bottom: 2px solid var(--color-primary) !important;
    padding: .5em !important;
}

.tab:hover, 
.tab.ta-tab:hover {
    background-color: var(--bg-lighter-color) !important;;
    transition: background-color 200ms ease-in-out;
}



.tab--selected, 
.tab.ta-tab.ta-tab-selected{
    background-color: var(--bg-lighter-color) !important;;
    border-bottom-color: var(--color-accent) !important;
    color: var(--color-accent);
}


.tab:last-of-type.tab--selected,
.tab.ta-tab:last-of-type.ta-tab-selected {
    border-top: 0px;

}

.dash-spinner.dash-default-spinner > div {
    background-color: var(--color-accent);
}

.authors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}
.authors-container div {
    flex: 1 1 auto;
}
.logo-containers  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    
}
.logo-containers img {
    height: 4em;
    max-height: 4em;
    width: auto;
    margin: .5em;
    opacity: .8;

}

.authors {
    text-align: center;
    padding: 0;
    margin-top: 1em;
}

.authors p {
    margin: 0;
}

.authors p.footnote{
    margin-top: 2em ;
    font-size: 90%;
}