
.caption {
    text-transform: uppercase;
    font-size: 1em;
    margin: .25em 0;
}
.sidebar .caption {
    text-align: right;
    margin-bottom: 0;;
    margin-top: 2em;
}

/**
 * Sentiment Container
 * 
 */
.sidebar {
    margin: .5em 0;
}
.sidebar > .card {
    margin: .5em 0;
}

/**
 * Sentiment Container
 * 
 */

.sentiment-container {
    text-align: center;
    padding: 2em 1em;
}
.sentiment-container img {

    height: 4em;
    opacity: .9;
 }

.symbol_selector_container {
    margin-bottom:2em;
    margin-top: .5em;
}

.company-profile-container {
    text-align: center;
}
.profile-details-list {
    margin-top: 0;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

ul.sources {
    margin-top: .5em;
}
p.linkstitle {
    margin-bottom: 0;
}